body{
    background-color: rgba(0, 0, 0, 0.945);
    margin: 0;
    color: white;
    overflow-x: hidden;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  z-index: 1000;}

header{
    background-color: black;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    color: aliceblue;

    padding-left: 20px;
    padding-right: 20px;
}

h1{
    display: flex;
    font-size: 3rem;
    background-image: linear-gradient(90deg, #3CB371 27%, #037879 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
}

h1 img{
    width: 50px;
    height: auto;
    margin-left: 5px;

}

nav{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-content: center;
}

nav a{
    width: 33%;
    height: 90%;
    text-decoration: none;
    font-size: 1.25rem;
    text-align: center;
    align-content: center;
    color: #00EDC8;
    transition: 0.55s ease;
    box-shadow: 0px 54px 5px -50px #00EDC8;
    
}
nav a:hover{
    background-color: #00EDC8;
    color: black;
    
}
nav a:active{
    background-color: #00EDC8;
    color: black;
    text-decoration:underline;
}

.button {
  position: relative;
  text-decoration: none;
  color:#01c2a5;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  padding: 14px 25px;
  border-radius: 10px;
  font-size: 1.25em;
  cursor: pointer;
  margin: 30px;
}

.button span {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: black;
  border-radius: 9px;
  transition: 0.5s;
}

.button:hover::before {
  opacity: 0.7;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.button:hover:after {
  opacity: 1;
}
.hamburger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
/* Main Content*/
.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 ;
    position: relative;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}
.content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 10;
}
.tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #00EDC8, white, #01dab9, rgb(219, 219, 219), #01c2a5, rgb(160, 159, 159));
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px white;
}

@keyframes animationGradient{
    to{
        background-position: 200%;
    }
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
}
.tag-box .tag:hover{
    color: #00EDC8;
}
.content h2{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(114, 114, 114, 0.425);
}
.descripcion{
    font-size: 1.2rem;
    max-width: 35rem;
    color: grey;
}
.botones{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;

}
.boton-disenos{
    text-align: center;
    text-decoration: none;
    width: 33%;
    border: 1px solid #00EDC8;
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #00EDC8;
    transition: 0.7s ease;
    box-shadow: #00EDC8 0 0 10px 2px ;
}
.boton-disenos:hover{
    background-color: #00EDC8;
    color: black;
}
.boton-contactame{
    text-decoration: none;
    text-align: center;
    align-content: center;
    width: 33%;
    background: #00EDC8;
    padding: 0.7rem 1rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: black;
    transition: 0.7s ease;
    box-shadow: #00EDC8 0 0 10px 2px ;
}
.boton-contactame:hover{
    background: transparent;
    color: #00EDC8;
    border: 1px solid #00EDC8;
}
.modelo-3d{
    position: absolute;
    top: 15%;
    right: -20%;
}

.mobile{
    display: none;
}

@media (max-width: 1300px) {
    header{
        width: 98%;
        padding: 1rem 0.5rem;
    }

    .content{
        margin-top: 85%;
    }

    .modelo-3d{
        top:15%;
        right: 2%;
    }
   

}

@media (max-width: 950px){
    header{
        z-index: 100;
        overflow: hidden;
    }
    .modelo-3d{
        padding-top: 2%;
    }
    nav {
    position: fixed;
    top: 0;
    right: -500px; /* Oculto fuera de pantalla */
    height: 100%;
    width: 250px;
    background: rgb(0, 0, 0);
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    transition: right 0.3s ease; /* Animación suave */
  }

  nav.show {
    right: 0;
    z-index: 1002; /* Se desliza hacia adentro */
  }

  nav a{
    height: 20%;
    width: 100%;
    /* border-bottom: #00EDC8 1px solid; */
    box-shadow: 0px 14px 5px -10px #00EDC8;
  }

  .hamburger {
    display: inline-block;
    width: 33%;
    position: relative;
    z-index: 1003; /* Para que quede arriba del menú */
    }

    #overlay.show {
    display: block; /* Activa el fondo oscuro */
    }

    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    
  }


@media (max-width: 768px){
    header{
        padding: 0.6rem 0.4rem 0.6rem 0.4rem;
    }

    header h1{
        font-size:2rem;
    }

    h1 img{
        width: 50px;
    }

    .button{
        width: 100%; 
        padding: 0.8rem 0.8rem;
    }

    main{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 5% 0 5% 0;
        margin-top: 92vh;
        margin-left: 0%;
    
        background-color: #0E0E0E;
        
    }

    .content h2{
        font-size: 3rem;
    }

    .tag-box{
        width: 100%;
    }

    .content .descripcion{
        width: 100%;
        text-align: center;
    }

    .botones{
        justify-content: center;
        width: 80%;
    }

    .modelo-3d{
        top:14%;
        right: 2%;
    }
}

@media (max-width: 480px) {
    header{
        padding: 1rem 0.4rem;
        z-index: 100;
        background-color: black;
    }
    header h1{
        font-size: 2rem;
    }
    header h1 img{
        width: 40px;
    }
    .button{ 
        padding: 0.6rem 1.5rem;
    }
    .content{
        width: 90%;
    }
    .modelo-3d{
        top: 15%;
        scale: 1;
        z-index: 1;
    }
    main{
        margin-top: 15rem;
    }
    .content{
        margin-top: 40vh;
    }
    .content h2{
        font-size: 1.8rem;
    }
    .descripcion{
        font-size: 1rem;
    }
    .botones{
        margin-bottom: 30px;
    }
}